*{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
}
html{
	font-size: 20px;
}
body{
	background-color: black;
	color: white;

}
h1,h2{
	font-size: 3rem;
	text-align: left;
	line-height: 5rem;
}
h2{
	margin-left:  5rem;		
	text-shadow: 4px 0px 12px rgba(0,0,2,0.5);
}
a{
	color: white;
	text-decoration: none;
}
button:hover, button:active{
	outline: none;
}
.wrapper{
	max-width: 940px;
	margin: auto;
}

/************************************HEADER************************************************/
header{
	width: 100%;
/*	background-color: #789;*/
	min-height: 5rem;
	max-height: 10rem;
	height: auto;
}
.headerWrapper{
	margin: auto;
	width: 80%;
}
.leftH{
	width: 50%;
	height: 5rem;
	float: left;
}
.logo{
	float: left;
}
svg{
	width: 5rem;
	height: 100%;
}
svg g path{
	fill: white;
}
#hamburger{
	background: none;
	border: none;
	display: none;
}
#hamburger:focus{
	border: none;
	outline: none;
}
.rightH{
	width: 50%;
	height: 5rem;
	float: left;
}
.social{
	float: right;
	display: block;
	margin-right: 1em;
	font-size: 1.5rem;
	line-height: 5rem;
}


/************************************MAIN************************************************/
.main{
	width: 100%;
	background-color: #4CAF50;
	background-image: url("largeSplash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20rem;
}
.left{
	width: 50%;
	float: left;
	height: 100%;
}
.right{
	width: 50%;
	float: left;
}
form{
	width: 90%;
	margin: 3rem auto;
	height: 10rem;

}
fieldset{
	border: none;
}
legend{
	font-size: 1.2rem;
	line-height: 3rem;
	font-weight: bold;
	text-shadow: 0px 0px 15px rgba(0,0,2,0.8);
}
label{
	display: none;
}
.txt{
	margin: 1em 2%;
	border: none;
	width: 46%;
	float: left;
	text-align: left;
	line-height: 2em;
	text-indent: 0.5em;
	font-size: 1rem;
	opacity: 0.5;
}
#submit{
	background-color: #247;
	color: white;
	border-radius: 5px;
	border-style: none;
	display: block;
	margin: 4% 2%;
	width: 96%;
	height:	4rem;
	font-size: 1.5rem;
	-webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
}
#submit:hover{
	opacity: 0.6;
	border-color: rgba(255,255,255,0.5);
	border-style: inset;
	border-width: 5px;
	-webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
/************************************FOOTER************************************************/
footer{
	margin:	20px;
	font-size: 0.5rem;
}
#paidFor{
	max-width: 60%;
	border: solid white 1px;
	margin: 1.5em auto;
	padding: 0.5em 0;
}
#privacyPolicy{
	padding: 0 3px 3px 3px;
	border-bottom: solid white 1px;
}

/************************************MEDIA QUERIES************************************************/

/**************************************MAX WIDTH = 800px******************************************/
@media (max-width: 800px){
	html{
		font-size: 16px;
	}	
}

/**************************************MAX WIDTH = 640px******************************************/
@media (max-width: 640px){
	html{
		font-size: 14px;
	}
}

/**************************************MAX WIDTH = 540px******************************************/
@media (max-width: 540px){
	html{
		font-size: 12px;
	}
	h2{
		text-align: center;
		margin: 5rem auto;
	}
	.left{
		width: 100%;
	}
	br:nth-of-type(2n-1){
		display: none;
	}
	.right{
		width: 100%;
	}
	form{
		margin: 2rem auto 4rem;
	}
	#submit:hover{
		opacity: 0.8;
	}
}

/**************************************MAX WIDTH = 420px******************************************/
@media (max-width: 420px){
	html{
		font-size: 10px;
	}
	.main{
		background-image: url(smallSplash.jpg);
	}
	.leftH{
		width: 90%;
	}
	#hamburger{
		color: white;
		width: 10%;
		font-size: 3rem;
		line-height: 5rem;
		display: block;
		float: left;
	}
	#hamburger i{
		color: white;
	}
	.social {
		font-size: 3rem;
		width: 100%;
		margin: auto;
	}
	.rightH{
		display: none;
		width: 20%;
		height: auto;
		margin-left: 80%;
		background-color: black;
		float: right;
		position: absolute;
		top: 5rem;
	}
	#hamburger:hover + .rightH, #hamburger:focus + .rightH{
		display: block;
	}
	.txt{
		margin: 1em 5% 0;
		width: 90%;
	}
	#zip{
		margin-bottom: 1em;
	}
	#submit{
		margin: 0 auto;
		width: 90%;
	}
}